@media (max-width: 376px) {
    .root {
        height: min-100dvh;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 60px;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .header {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 0;
        padding-left: 16px;
        padding-right: 16px;

        &__left {
            width: 100%;
        }
    }

    .nav {
        &__wrapper {
            justify-content: space-between;
            width: 100%;
        }

        &__link {
            color: $text-base-color;
            font-family: &inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
        }
    }

    .main {
        padding-top: 40px;
        padding-bottom: 59px;
        margin-bottom: 0;
        position: relative;
        box-sizing: border-box;

        &__wrapper {
            box-sizing: border-box;
            padding-left: 16px;
            padding-right: 16px;
            flex-flow: column nowrap;
            gap: 45px;
            width: 100%;
        }

        &__text {
            font-size: 18px;
            text-align: left;
            text-transform: lowercase;
        }

        &__elem {
            position: absolute;
            filter: blur(96px);
            opacity: 0.5;

            &-red {
                width: 211px;
                height: 211px;
                border-radius: 211px;
                left: -55px;
                bottom: -6px;
                background: #961A1A;   
            }
    
            &-blue {
                width: 259px;
                height: 259px;
                border-radius: 259px;
                background: #833AB4;
                right: -197px;
                top: 162px;
            }
        }

        &__orb {
            position: absolute;
            border-radius: 50%;

            &-red {
                width: 43px;
                height: 43px;
                bottom: 0px;
                left: 29px;
                background: radial-gradient(82.3% 82.3% at 27.25% 26.5%, rgba(255, 208, 208, 0.54) 0%, rgba(212, 93, 93, 0.26) 59.67%, rgba(167, 49, 49, 0.25) 78.59%, rgba(130, 25, 25, 0.25) 100%);
                filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25));
                backdrop-filter: blur(2px);
            }

            &-blue {
                width: 40px;
                height: 40px;
                background: radial-gradient(82.3% 82.3% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.21) 78.59%, rgba(86, 24, 128, 0.23) 100%);
                filter: drop-shadow(3px 6px 27px rgba(177, 118, 217, 0.25)) blur(5px);
                backdrop-filter: blur(2px);
                right: -16px;
                top: 236px;
            }
        }
    }

    .title {
        font-size: 36px;
    }

    .left {
        gap: 15px;

        &__text {
            font-size: 18px;
        }
    }

    .right {
        align-items: flex-start;

        &__text {
            font-size: 18px;
            text-align: left;
            margin-bottom: 20px;
        }

        &__items {
            column-gap: 10px;
            row-gap: 14px;
            margin-bottom: 0;
        }

        &__item {
            &-heading {
                text-align: left;
                font-size: 13px;
                letter-spacing: 0.65px;
                display: flex;
                gap: 5px;
            }

            &-span {
                background-image: $gradient-color;
                background-clip: text;
                color: transparent;
            }
        }
    }

    .footer {
        padding-left: 16px;
        padding-right: 16px;
        flex-flow: column nowrap;
        padding-top: 45px;

        &__heading {
            font-size: 12px;
            margin-bottom: 10px;
        }

        &__link {
            font-size: 14px;
            line-height: 100%;
        }

        &__left {
            flex-flow: column nowrap;
            gap: 30px;
        }

        &__item {
            height: fit-content;
        }

        &__list {
            &-grid {
                grid-template-rows: 1fr repeat(4, 18px);
                column-gap: 48px;
                row-gap: 10px;
            }

            &-right {
                align-items: flex-start;
                gap: 10px;
                margin-top: 20px;
            }
        }
    }

    .copyright {
        left: 15px;
        text-align: left;
    }
}