$root-bg: #0E1014;
$inter: 'Inter', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$text-base-color: #E4E5EA;
$gradient-color: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
$blue-color: #4077F3;
$text-gray-color: #656566;